<p style="color: green"><%= notice %></p>
<div>
  <% @pdrs.each do |pdr| %>
     <% if pdr.user == current_user ||current_user.adminn?%>
    <%= pdr.id %><br>
    <%= "Оцінка:" %>
    <%= pdr.mark%>
     <p><%= link_to "Показати мою відповідь", pdr %></p>
    <%end%>
  <% end %>
</div>
